footer {
    color: white; /* Set your desired text color for the footer */
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 5px; /* Adjust the distance from the bottom */
    right: 5px; /* Adjust the distance from the right side */
    z-index: 2; /* Set a higher z-index for the footer to appear in front of the background image */
}