.modal {
    border-radius: .8rem;
    border-color: #515151;
    inline-size: calc(100% - 2rem);
    max-inline-size: 80rem;
    outline: none;
    padding: 2rem;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    inset: 0;
    position: fixed;
}

.modal__close {
    background: none;
    border: none;
    cursor: pointer;
    inset-block-start: .75rem;
    inset-inline-end: .75rem;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.modal__content {

}

.modal__heading {

}
