<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>M+ Vault score</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/modern-normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/typography.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loader.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/utilities.css}"/>
</head>
<body id="body">
<div class="page-container">
    <main>
        <section class="welcome">
            <h1 class="welcome__heading">M+ Vault score</h1>
            <ul class="welcome__list">
                <li class="welcome__item">Použij jakékoliv jméno ze serveru Drak-Thul nebo Burning-Blade</li>
                <li class="welcome__item">Pro zadání více jmen použij mezeru, například: Martin Petr Libor</li>
            </ul>
        </section>

        <form id="characterForm" class="form">
            <div class="button-container">
                <button id="all" class="button" type="button">Všichni</button>
                <button id="r1" class="button" type="button">R1</button>
                <button id="r2" class="button" type="button">R2</button>
            </div>
            <div class="form__inputContainer">
                <label for="characterName">Jméno postavy</label>
                <input type="text" id="characterName" name="characterName" required>
            </div>
            <button id="submit" class="button" type="submit">Potvrdit</button>
            <div class="form__checkboxContainer">
                <label for="prevWeek">Předchozí týden</label>
                <input type="checkbox" id="prevWeek">
            </div>
        </form>
    </main>
</div>

<footer class="footer">
    <div class="form__checkboxContainer">
        <label for="dummyMode">Test data</label>
        <input type="checkbox" id="dummyMode">
    </div>
    <p>v 0.1</p>
</footer>

<dialog id="modal" class="modal">
    <button id="modalClose" class="modal__close">X</button>
    <section class="modal__content">
        <h2 class="modal__heading sr-only">Data</h2>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Level klíče</th>
                    <th>Body za klíč</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>20</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>18-19</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>10-17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2-9</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 class="h5">M+ Vault data</h3>
        <div id="table_div"></div>
    </section>
</dialog>

<div id="loaderContainer" class="loader-container">
    <div class="loader"></div>
</div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</body>
</html>
